Import modules

In [1]:
import pandas as pd

# from config import api_key
import numpy as np
import requests
import json

Import CSVs

In [2]:
# Import files as DataFrames
ff_transformed = pd.read_csv("../export_data/14-15.csv")
se_transformed = pd.read_csv("../export_data/17-18.csv")
tt_transformed = pd.read_csv("../export_data/20-21.csv")

Load into database

In [ ]:
import pymongo

# Setup connection to mongodb
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

# Create database and collection to use
db = client['energy_db']

In [ ]:
fourt_fift_energy_production = db.Fourteen_Fifteen_Energy_Production
sevt_eight_energy_production = db.Seventeen_Eighteen_Energy_Production
twe_twentyo_energy_production = db.Twenty_Twentyone_Energy_Production
aus_population = db.Aus_Population
aus_income = db.Aus_Income

In [ ]:
fourt_fift_energy_production.insert_many(ff_transformed.to_dict('records'))
sevt_eight_energy_production.insert_many(se_transformed.to_dict('records'))
twe_twentyo_energy_production.insert_many(tt_transformed.to_dict('records'))

Set up the data for a visualisation that shows each state renewables growth.

In [ ]:
ff_transformed_progression = ff_transformed[["State", "Year", "Renewable"]]
ff_transformed_progression

In [ ]:
ff_transformed_progression_renewable = ff_transformed_progression.loc[ff_transformed_progression["Renewable"] == True]
ff_transformed_progression_renewable

# group dataframe by State
ff_transformed_progression_renewable_grouped = ff_transformed_progression_renewable.groupby(["State"], as_index=False).count()
ff_transformed_progression_renewable_grouped

# format DF
ff_transformed_progression_renewable_grouped = ff_transformed_progression_renewable_grouped[["State", "Renewable"]]
ff_transformed_progression_renewable_grouped.rename(columns={'Renewable': 'Renewable_Energy_Plants_2014_2015'}, inplace=True)
ff_transformed_progression_renewable_grouped

In [ ]:
ff_transformed_progression_nonrenewable = ff_transformed_progression.loc[ff_transformed_progression["Renewable"] == False]
# ff_transformed_progression_nonrenewable

# group dataframe by State
ff_transformed_progression_nonrenewable_grouped = ff_transformed_progression_nonrenewable.groupby(["State"], as_index=False).count()
# ff_transformed_progression_nonrenewable_grouped

# format DF
ff_transformed_progression_nonrenewable_grouped = ff_transformed_progression_nonrenewable_grouped[["State", "Renewable"]]
ff_transformed_progression_nonrenewable_grouped.rename(columns={'Renewable': 'Non_Renewable_Energy_Plants_2014_2015'}, inplace=True)
ff_transformed_progression_nonrenewable_grouped

In [ ]:
energy_progression_merged = pd.merge(ff_transformed_progression_renewable_grouped, ff_transformed_progression_nonrenewable_grouped, how="left", on=["State", "State"])
# energy_progression_merged

In [ ]:
se_transformed_progression = se_transformed[["State", "Year", "Renewable"]]
se_transformed_progression.head(2)

In [ ]:
se_transformed_progression_renewable = se_transformed_progression.loc[se_transformed_progression["Renewable"] == True]
# se_transformed_progression_renewable

# group dataframe by State
se_transformed_progression_renewable_grouped = se_transformed_progression_renewable.groupby(["State"], as_index=False).count()
# se_transformed_progression_renewable_grouped

# format DF
se_transformed_progression_renewable_grouped = se_transformed_progression_renewable_grouped[["State", "Renewable"]]
se_transformed_progression_renewable_grouped.rename(columns={'Renewable': 'Renewable_Energy_Plants_2017_2018'}, inplace=True)
se_transformed_progression_renewable_grouped

In [ ]:
energy_progression_merged = pd.merge(energy_progression_merged, se_transformed_progression_renewable_grouped, how="left", on=["State", "State"])
# energy_progression_merged

In [ ]:
se_transformed_progression_nonrenewable = se_transformed_progression.loc[se_transformed_progression["Renewable"] == False]
# se_transformed_progression_nonrenewable

# group dataframe by State
se_transformed_progression_nonrenewable_grouped = se_transformed_progression_nonrenewable.groupby(["State"], as_index=False).count()
# se_transformed_progression_nonrenewable_grouped

# format DF
se_transformed_progression_nonrenewable_grouped = se_transformed_progression_nonrenewable_grouped[["State", "Renewable"]]
se_transformed_progression_nonrenewable_grouped.rename(columns={'Renewable': 'Non_Renewable_Energy_Plants_2017_2018'}, inplace=True)
se_transformed_progression_nonrenewable_grouped

In [ ]:
energy_progression_merged = pd.merge(energy_progression_merged, se_transformed_progression_nonrenewable_grouped, how="left", on=["State", "State"])
# energy_progression_merged

In [ ]:
tt_transformed_progression = tt_transformed[["State", "Year", "Renewable"]]
tt_transformed_progression.head(2)

In [ ]:
tt_transformed_progression_renewable = tt_transformed_progression.loc[tt_transformed_progression["Renewable"] == True]
# tt_transformed_progression_renewable

# group dataframe by State
tt_transformed_progression_renewable_grouped = tt_transformed_progression_renewable.groupby(["State"], as_index=False).count()
# tt_transformed_progression_renewable_grouped

# format DF
tt_transformed_progression_renewable_grouped = tt_transformed_progression_renewable_grouped[["State", "Renewable"]]
tt_transformed_progression_renewable_grouped.rename(columns={'Renewable': 'Renewable_Energy_Plants_2020_2021'}, inplace=True)
tt_transformed_progression_renewable_grouped

In [ ]:
energy_progression_merged = pd.merge(energy_progression_merged, tt_transformed_progression_renewable_grouped, how="left", on=["State", "State"])
# energy_progression_merged

In [ ]:
tt_transformed_progression_nonrenewable = tt_transformed_progression.loc[tt_transformed_progression["Renewable"] == False]
# tt_transformed_progression_nonrenewable

# group dataframe by State
tt_transformed_progression_nonrenewable_grouped = tt_transformed_progression_nonrenewable.groupby(["State"], as_index=False).count()
# tt_transformed_progression_nonrenewable_grouped

# format DF
tt_transformed_progression_nonrenewable_grouped = tt_transformed_progression_nonrenewable_grouped[["State", "Renewable"]]
tt_transformed_progression_nonrenewable_grouped.rename(columns={'Renewable': 'Non_Renewable_Energy_Plants_2020_2021'}, inplace=True)
tt_transformed_progression_nonrenewable_grouped

In [ ]:
energy_progression_merged = pd.merge(energy_progression_merged, tt_transformed_progression_nonrenewable_grouped, how="left", on=["State", "State"])
energy_progression_merged = energy_progression_merged.fillna(0)
energy_progression_merged

In [ ]:
# column for:
# year
# act r
# act nr
# nsw r
# nsw nr

Which state produces the most energy per capita? 

Divided into renewable vs non renewable.

In [ ]:
# Read in CSV
population_summary = pd.read_csv("../data/state_population_summary.csv")

# format DF
population_summary.rename(columns={"Unnamed: 0": "State", "Total": "Population_Total"}, inplace=True)
population_summary = population_summary[["State", "Population_Total"]]

# Removing the Australia(b) total line in index 8
population_summary = population_summary.drop(8)

population_summary

In [ ]:
population_summary.at[0, 'State'] = "NSW"
population_summary.at[1, 'State'] = "VIC"
population_summary.at[2, 'State'] = "QLD"
population_summary.at[3, 'State'] = "SA"
population_summary.at[4, 'State'] = "WA"
population_summary.at[5, 'State'] = "TAS"
population_summary.at[6, 'State'] = "NT"
population_summary.at[7, 'State'] = "ACT"
population_summary

In [ ]:
tt_eppc = tt_transformed[["State", "Electricity_Production_MWh", "Renewable"]]
# tt_eppc

tt_eppc_renewable = tt_eppc.loc[tt_eppc["Renewable"] == True]
# tt_eppc_renewable

tt_eppc_renewable = tt_eppc_renewable[["State", "Electricity_Production_MWh"]]
# tt_eppc_renewable

tt_eppc_renewable.replace(',','', regex=True, inplace=True)
tt_eppc_renewable = tt_eppc_renewable.fillna(0)

# convert column "a" of a DataFrame
tt_eppc_renewable["Electricity_Production_MWh"] = pd.to_numeric(tt_eppc_renewable["Electricity_Production_MWh"])
tt_eppc_renewable

# group dataframe by State
tt_eppc_renewable_grouped = tt_eppc_renewable.groupby(["State"], as_index=False).sum()
# tt_eppc_renewable_grouped

# format DF
tt_eppc_renewable_grouped.rename(columns={'Electricity_Production_MWh': 'Renewable_Electricity_Production_MWh'}, inplace=True)
tt_eppc_renewable_grouped

In [ ]:
tt_eppc = tt_transformed[["State", "Electricity_Production_MWh", "Renewable"]]
# tt_eppc

tt_eppc_non_renewable = tt_eppc.loc[tt_eppc["Renewable"] == False]
# tt_eppc_non_renewable

tt_eppc_non_renewable = tt_eppc_non_renewable[["State", "Electricity_Production_MWh"]]
# tt_eppc_non_renewable

tt_eppc_non_renewable.replace(',','', regex=True, inplace=True)
tt_eppc_non_renewable = tt_eppc_non_renewable.fillna(0)

# convert column "a" of a DataFrame
tt_eppc_non_renewable["Electricity_Production_MWh"] = pd.to_numeric(tt_eppc_non_renewable["Electricity_Production_MWh"])
tt_eppc_non_renewable

# group dataframe by State
tt_eppc_non_renewable_grouped = tt_eppc_non_renewable.groupby(["State"], as_index=False).sum()
# tt_eppc_non_renewable_grouped

# format DF
tt_eppc_non_renewable_grouped.rename(columns={'Electricity_Production_MWh': 'Non_Renewable_Electricity_Production_MWh'}, inplace=True)
tt_eppc_non_renewable_grouped

In [ ]:
eppc_merged = pd.merge(tt_eppc_renewable_grouped, tt_eppc_non_renewable_grouped, how="left", on=["State", "State"])
eppc_merged

eppc_merged = eppc_merged.fillna(0)

eppc_merged

In [ ]:
eppc_merged = pd.merge(eppc_merged, population_summary, how="left", on=["State", "State"])
eppc_merged

In [ ]:
# create a column for "Per Student Budget" in the school_summary_merge dataframe
eppc_merged['Renewable_MWh_Per_Capita'] = eppc_merged['Renewable_Electricity_Production_MWh'] / eppc_merged['Population_Total'] 
eppc_merged['Non_Renewable_MWh_Per_Capita'] = eppc_merged['Non_Renewable_Electricity_Production_MWh'] / eppc_merged['Population_Total'] 

eppc_merged

In [ ]:
energy_production_per_capita = eppc_merged[["State", "Renewable_MWh_Per_Capita", "Non_Renewable_MWh_Per_Capita"]]
energy_production_per_capita

Do states with a higher population have a higher percentage of renewable energy production?

State population vs the % of energy productions that is renewable.

In [ ]:
population_renewable_energy = eppc_merged[["State", "Population_Total", "Renewable_MWh_Per_Capita"]]
population_renewable_energy

Do states with a higher median income have a higher percentage of renewable energy production? State median income vs the % of energy productions that is renewable.

In [ ]:
# Read in CSV
income_summary = pd.read_csv("../data/state_income_summary.csv")
income_summary

# Removing the Australia(b) total line in index 8
income_summary = income_summary.drop(8)

income_summary

In [ ]:
# Change state names to acronyms

income_summary.at[0, 'State'] = "NSW"
income_summary.at[1, 'State'] = "VIC"
income_summary.at[2, 'State'] = "QLD"
income_summary.at[3, 'State'] = "SA"
income_summary.at[4, 'State'] = "WA"
income_summary.at[5, 'State'] = "TAS"
income_summary.at[6, 'State'] = "NT"
income_summary.at[7, 'State'] = "ACT"
income_summary

In [ ]:
income_renewable_energy = pd.merge(population_renewable_energy, income_summary, how="left", on=["State", "State"])
income_renewable_energy

In [ ]:
income_renewable_energy = income_renewable_energy[["State", "Median_Income", "Renewable_MWh_Per_Capita"]]
income_renewable_energy

In [3]:
ff_transformed_production = ff_transformed[["State", "Year", "Renewable", "Electricity_Production_GJ", "Electricity_Production_MWh"]]
ff_transformed_production_r = ff_transformed_production.loc[ff_transformed_production["Renewable"] == True].groupby(["State"], as_index=False).sum()
ff_transformed_production_r['Year'] = 2015

ff_transformed_production_nr = ff_transformed_production.loc[ff_transformed_production["Renewable"] != True].groupby(["State"], as_index=False).sum()
ff_transformed_production_nr['Year'] = 2015

In [4]:
se_transformed.replace(',','', regex=True, inplace=True)

se_transformed["Electricity_Production_GJ"] = pd.to_numeric(se_transformed["Electricity_Production_GJ"])
se_transformed["Electricity_Production_MWh"] = pd.to_numeric(se_transformed["Electricity_Production_MWh"])

se_transformed_production = se_transformed[["State", "Year", "Renewable", "Electricity_Production_GJ", "Electricity_Production_MWh"]]
se_transformed_production_r = se_transformed_production.loc[se_transformed_production["Renewable"] == True].groupby(["State"], as_index=False).sum()
se_transformed_production_r['Year'] = 2017

se_transformed_production_nr = se_transformed_production.loc[se_transformed_production["Renewable"] != True].groupby(["State"], as_index=False).sum()
se_transformed_production_nr['Year'] = 2017

In [5]:
tt_transformed.replace(',','', regex=True, inplace=True)
tt_transformed["Electricity_Production_GJ"] = pd.to_numeric(tt_transformed["Electricity_Production_GJ"])
tt_transformed["Electricity_Production_MWh"] = pd.to_numeric(tt_transformed["Electricity_Production_MWh"])

tt_transformed_production = tt_transformed[["State", "Year", "Renewable", "Electricity_Production_GJ", "Electricity_Production_MWh"]]
tt_transformed_production_r = tt_transformed_production.loc[tt_transformed_production["Renewable"] == True].groupby(["State"], as_index=False).sum()
tt_transformed_production_r['Year'] = 2021

tt_transformed_production_nr = tt_transformed_production.loc[tt_transformed_production["Renewable"] != True].groupby(["State"], as_index=False).sum()
tt_transformed_production_nr['Year'] = 2021
tt_transformed_production_nr

,State,Renewable,Electricity_Production_GJ,Electricity_Production_MWh,Year
0,NSW,False,189359978,52599995,2021
1,NT,False,7710077,2141689,2021
2,QLD,False,213006238,59168403,2021
3,SA,False,19148055,5318902,2021
4,TAS,False,311981,86661,2021
5,VIC,False,127437836,35399396,2021
6,WA,False,73671218,20464224,2021

In [6]:
renewable_totals = pd.concat([ff_transformed_production_r, se_transformed_production_r, tt_transformed_production_r])
non_renewable_totals = pd.concat([ff_transformed_production_nr, se_transformed_production_nr, tt_transformed_production_nr])

# FINAL LIST OF ALL CUSTOM DATA FRAMES FOR VISUALISATIONS

In [2]:
income_renewable_energy

NameError: name 'income_renewable_energy' is not defined

In [77]:
population_renewable_energy

  State  Population_Total  Renewable_MWh_Per_Capita
0   ACT            454499                  0.198577
1   NSW           8072163                  1.667720
2    NT            232605                  0.053782
3   QLD           5156138                  0.920545
4    SA           1781516                  3.708707
5   TAS            557571                 18.218186
6   VIC           6503491                  1.471901
7    WA           2660026                  1.381824

In [ ]:
energy_production_per_capita

In [78]:
energy_progression_merged

,State,Renewable_Energy_Plants_2014_2015,Non_Renewable_Energy_Plants_2014_2015,Renewable_Energy_Plants_2017_2018,Non_Renewable_Energy_Plants_2017_2018,Renewable_Energy_Plants_2020_2021,Non_Renewable_Energy_Plants_2020_2021
0,ACT,4,0.0,3,0.0,5,0.0
1,NSW,38,32.0,45,28.0,64,22.0
2,NT,2,14.0,2,65.0,3,64.0
3,QLD,14,31.0,15,32.0,46,65.0
4,SA,20,15.0,25,14.0,32,17.0
5,TAS,35,3.0,38,1.0,39,1.0
6,VIC,41,22.0,47,19.0,65,20.0
7,WA,15,63.0,20,71.0,23,71.0

In [ ]:
income_renewable_energy.to_csv('../export_data/income_renewable_energy.csv')
population_renewable_energy.to_csv('../export_data/population_renewable_energy.csv')
energy_production_per_capita.to_csv('../export_data/energy_production_per_capita.csv')
energy_progression_merged.to_csv('../export_data/energy_progression_merged.csv')

In [ ]:
renewable_totals.to_csv("../export_data/renewable_totals.csv", index=False)
non_renewable_totals.to_csv("../export_data/non_renewable_totals.csv", index=False)

Connecting to Mongo Cloud

In [51]:
import pymongo

In [52]:
from pymongo import MongoClient

In [55]:
db

Database(MongoClient(host=['energyaustralia-morgana.ckw49kl.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority'), 'test')

In [ ]:
# username = EACaM
# Password = Mrsunshine1